[Desktop Entry]
Categories=Utility;Application;
Exec=ayva
GenericName=Your personal assistant.
Icon=ayva
Name=Ayva
Type=Application
StartupNotify=true
Terminal=false
NoDisplay=false
